<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Project #2 - Image Gallery Pop up</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  </head>
  <body>
    <div id="app">
      <div class="menu">
        <div class="menu-nav">
          <ul>
            <li v-for="(item, index) in menus" :key="index">
              {{ item.menu }}
            </li>
          </ul>
        </div>
      </div>
      <section id="gallery" class="gallery">
      
        <!-- Image 1 -->
        <div class="img-container" v-for="(image, index) in listImages" :key="index" @click="displayImage($event)">
          <img :src="image.image" :alt="image.alt" @click="clicked = index"/>
        </div>
  
      </section>
      <div id="books" class="section-default">
        <h2>Section Books</h2>
      </div>
  
      <div id="students" class="section-default">
        <h2>Section Students</h2>
      </div>
  
      <div id="colors" class="section-default">
        <h2 id="color-content">Section Color</h2>
        <p id="color-text"></p>
        <button id="changecolor" type="submit" @click="switchColor()">
          Switch
        </button>
        <div id="color">
  
        </div>
      </div>
  
      <!-- modal small img -->
      <div class="modal" id="modal-1">
        <img :src="`img/full/${clicked + 1}.jpg`" alt="" class="full-img " />
        <p @click="hideImage()" class="description">X</p>
      </div>
  
      <div id="btn-top">
        <h2>^</h2>
      </div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
